# dependencies
node_modules/

backend/node_modules/


# next.js
frontend/.next/
frontend/out/

# env files
.env
frontend/.env.local
backend/.env
backend/package-lock.json
frontend/package-lock.json

# misc
.DS_Store
*.pem
